# dependencies
/node_modules

# local env files
.env
.env.production
.env.development
.env.local
.env.test
.env.development.local
.env.test.local
.env.example
.env.development.example
.env.test.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
